Models/yolov8/*
!Models/yolov8/.gitkeep

Models/*
!Models/.gitkeep

Input_videos/*
!Input_videos/.gitkeep
runs/

training/football-players-detection-1
!training/football-players-detection-1/.gitkeep

output_videos/*
!output_videos/.gitkeep